@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes gradiant {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(4rem);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes imagePulse {
  0% {
    opacity: 1;
    transform: none;
  }
  50% {
    opacity: 0.8;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.fadeAway {
  animation: fadeOut;
}

.popup {
  background-color: white;
  width: 60%;
  padding: 30px 40px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 8px;
  text-align: center;
  z-index: 10001;
  opacity: 1;
  transition: z-index 0.5s, opacity 0.5s;
}

.popup.fade{
  opacity: 0;
  z-index: 0;
}

.tempBG.fade{
  opacity: 0;
  z-index: 0;
}

.stop.fade {
  opacity: 0;
  z-index: 0;
}

.tempBG {
  background: dimgray;
  min-height: 500vh;
  min-width: 100vw;
  position: absolute;
  top: 0;
  opacity: 0.8;
  transition: z-index 0.5s, opacity 0.5s;
  z-index: 10000;
}

.stop {
  position: absolute;
  top: 160%;
  font-size: xxx-large;
  color: crimson;
  z-index: 10001;
  background: black;
  min-width: 100vw;
  min-height: 50vh;
  display: inline;
  align-content: center;
}

.popup button{
  display: block;
  margin:  0 0 20px auto;
  font-size: 30px;
  color: #ffffff;
  background-color: #03549a;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  cursor: pointer;
}

.popup h2 {
  margin-top: -5%;
}

.popup p{
  font-size: 14px;
  text-align: justify;
  margin: 20px 0;
  line-height: 25px;
}

html {
  scroll-behavior: smooth;
}

#parallaxImage {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab, #ffe12b);
  background-size: 400% 400%;
  animation: gradiant 6s ease infinite;
  min-height: 200vh;
  min-width: 200%;
}

body {
  /* ProductSans has low browser compatibility - use with caution */
  font-family: 'Product Sans', Tahoma, Geneva, Verdana, sans-serif;
  animation-name: fadeIn;
  animation-duration: 3s;
  overflow-x: hidden;
  background-color: black;
  margin: 10px;
}

.a1 {
  position: absolute;
  top: 90%;
  background-image: url('https://images.squarespace-cdn.com/content/v1/5508a48ce4b05ef9ded22bbe/1543938983671-DB1T3RBQ1DGBOHMUYQCN/1510001409393.gif');
}

nav {
  position: fixed;
  left: -3px;
  top: 0;
  min-width: 102vw;
  background-color: #000;
  text-align: center;
  line-height: 5vh;
  width: 100%;
  height: 5vh;
  z-index: 100;
}

nav a {
  color: #fff;
  margin: 0 1em;
  text-decoration: none;
  opacity: 100%;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.titleBox {
  position: absolute;
  top: 33%;
  left: 23vw;
  background-color: white;
  opacity: 20%;
  min-height: 30vh;
  min-width: 55vw;
}

.intro h1 {
  position: absolute;
  width: 100%;
  top: 35vh;
  text-align: center;
  font-size: 500%;
  color: white;
}

.introduction {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 55vh;
  background: rgb(236, 234, 234);
}

.text1 {
  position: absolute;
  top: 23%;
  width: 80%;
  padding: 20px;
}

.types {
  max-width: 60%;
}

#parallax2 {
  background-image: url("https://wp.technologyreview.com/wp-content/uploads/2018/08/googlecbf009-11.jpg");
  max-height: 100%;
  width: 100%;
  position: absolute;
  top: 150vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

#internetTitle {
  position: absolute;
  margin-top: 20px;
  top: 11%;
  left: 10%;
}

#DBImageCaption {
  padding: 5px;
  position: absolute;
  bottom: 7%;
  left: 5%;
  font-style: italic;
  font-size: 14px;
  z-index: 100;
}

.text1 {
  max-width: 80%;
  position: absolute;
  padding-top: 5px;
  top: 21.5%;
}

.personalTypes {
  background: #F3F5F3;

  position: absolute;
  top: 200vh;
  width: 100%;

  min-height: 60%;
}

#personalIntro {
  position: absolute;
  width: 80%;
  top: 15%;
}

#scrollButton {
  position: absolute;
  top: 90%;
  left: 50%;
  opacity: 0;

  min-height: 40px;
  min-width: 50px;

  z-index: 60;
}

#scrollImg {
  position: absolute;
  top: 90%;
  left: 50%;

  height: 40px;
  width: 50px;

  z-index: 3;
  animation: 1s 1s ease-out forwards, imagePulse 2s 3s ease-out infinite;
}


#personal {
  position: absolute;
  width: 100%;
  top: 200vh;

  padding-left: 20px;
  padding-right: 20px;
}

.massTypes {
  background-color: #FFFFFF;
  position: absolute;
  top: 300%;
  width: 103%;
  min-height: 1vh;
  min-width: 1vw;
}

.antivirus {
  background-color: #F3F3F5;
  position: absolute;
  top: 400%;
  width: 103%;

  min-height: 60vh;
  min-width: 100vw;
}

.hack {
  background-color: #FFFFFF;
  position: absolute;
  top: 500%;
  width: 103%;

  min-height: 60vh;
}

#personalTitle {
  position: absolute;
  margin-top: 20px;
  top: 8%;
  left: 10%;
}

#spyware {
  position: absolute;
  width: 40%;
  top: 22%;
  left: 10%
}

#adware {
  position: absolute;
  width: 40%;
  top: 35%;
  left: 10%
}

#viruses {
  position: absolute;
  width: 40%;
  top: 45%;
  left: 10%;
}

#worms {
  position: absolute;
  width: 40%;
  top: 22%;
  right: 10%;
}

#trojans {
  position: absolute;
  width: 40%;
  top: 34%;
  right: 10%;
}

#ransomware {
  position: absolute;
  width: 40%;
  top: 45%;
  right: 10%;
}

#phishing {
  position: absolute;
  top: 54%;
  width: 40%;
  right: 10%;
}
#botnets {
  position: absolute;
  top: 61%;
  left: 10%;
  max-width: 40%;
}

#ddosImg {
  position: absolute;
  top: 10%;
  right: 8%;

  max-width: 30vw;
  max-height: 90vh;
  z-index: 1;
}

#ddos {
  position: absolute;
  top: 17%;
  left: 10%;
  max-width: 45%;
  padding-right: 15px;
}

#massIntro {
  position: absolute;
  top: 8%;
  left: 10%;
}

#prevenIntro {
  position: absolute;
  top: 8%;
  left: 10%;
}

#firewall {
  position: absolute;
  top: 16%;
  left: 10%;
  max-width: 40%;
}

#misconceptions {
  position: absolute;
  top: 8%;
  left: 55%;
  max-width: 35%;
}

#hackerTitle {
  min-width: 60%;
  position: absolute;
  top: 3%;
  left: 10%;
  margin: 20px;
}

#hackerInfo {
  min-width: 30%;
  position: absolute;
  top: 10%;
}

#whitehat {
  max-width: 30%;
  position: absolute;
  top: 15%;
  left: 10%;
}

#blackhat {
  max-width: 35%;
  position: absolute;
  top: 15%;
  right: 25%;
}

#greyhat {
  max-width: 65%;
  position: absolute;
  left: 10%;
  top: 28%;
}

#attackImg {
  max-width: 75%;
  max-height: 50%;
  position: absolute;
  bottom: 8%;
  right: 49%;
  border-radius: 7%;
  padding: 20px;
}

#imgCaption {
  max-width: 17%;
  position: absolute;
  right: 32%;
  top: 55%;
}
